doctype html
html
	body
		div(style='width: 30%; float :left;')
			ul(id='li',style='list-style-type: none')
				li Name of the author
				br
				each i in list1
					li=i
		div(style='width: 20%; float :left;')
			ul(id='l2',style='list-style-type: none')
				li Count of the posts
				br
				each i in list2
					li=i
