doctype html
html
  head
  body
    pre
      |               -''''''-
      |            .`___    ___`.
      |           /  (@)    (@)  \
      |          .                .
      |         (	 O         )
      |          .       __       .
      |           \  .-"`  `"-.  /
      |            '.          .'
      |              ' ...... '
      |
      |     YOU CANNOT ACCESS THIS FILE 
